/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
html{
  padding: 0;
  font-family: serif;
}
body{
  margin: 0;
}
header{
  min-height: 350px;
  background-image: url(../img/official_header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
h1{
  margin-top: 0;
}
nav ul li{
  display: inline;
  border: solid 1px black;
  font-size: 30px;
  background-color: yellow;
}
header p{
  font-size: 50px; 
  color: yellow;
}
header h1{
  color: yellow;
  font-size: 100px;
}
body{
  background-color: lightblue;
}
#social{
  position: absolute;
  top: 50px;
  right: 0;
  width: 25px;
  background-image: url(../img/monkey_flight.jpg);
  color: yellow;
  transition: 2s;
}
#social:hover{
  width: 150px;
}
#social li{
  margin: 0;
  padding: 0;
  background-color: yellow;
  border: solid 1px black;
}
#social ul{
  list-style: none;
  padding: 0;
}
#watch h2{
  font-size: 50px;
  margin: 0px;
  margin-left: 875px;
  color: yellow;
}
#watch video{
  object-fit: contain;
  margin-left: 425px;
}
#watch h3{
  margin-right: auto;
  margin-left: auto;
  width: 200px;
    color: yellow;
}
#watch p{
 margin-right: auto;
  margin-left: auto;
  width: 225px;
  color: yellow;
}
#watch p a{
  border: solid 1px black;
  color: yellow;
  padding: 35px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-image: url(../img/monkaa_monkeyhang.jpg)
}
#listen h2{
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  color: yellow;
}
#listen audio{
  margin-left:800px;
}
#listen p a {
  border: solid 1px black;
  color: yellow;
  padding: 35px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-image: url(../img/monkaa_monkeyhang.jpg)
}
#listen h3{
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  color: yellow;
}
#listen p{
  margin-right: auto;
  margin-left: auto;
  width: 225px;
  color: yellow;
}
#about h2{
  color: yellow;
}
.lead{
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
}
.weybec-people{
 list-style: none; 
}
.weybec-people img{
  height: 100px;
  width: 100px;
}
#about p{
  background-image: url(../img/official_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  border: solid 1px black;
}
footer{
  border: solid 2px black;
  background-color: pink;
  color: black;
}