/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
html{
  padding: 0;
  font-family: serif;
}
body{
  margin: 0;
}
header{
  min-height: 350px;
  background-image: url(../img/official_header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
h1{
  margin-top: 0;
}
nav ul li{
  display: inline;
  border: solid 1px black;
  font-size: 30px;
  background-color: yellow;
}
header p{
  font-size: 50px; 
  color: yellow;
}
header h1{
  color: yellow;
  font-size: 100px;
}
body{
  background-color: lightblue;
}
#social{
  position: absolute;
  top: 50px;
  right: 0;
  width: 25px;
  background-color: blue;
  color: yellow;
  transition: 2s;
}
#social:hover{
  width: 150px;
}
#social li{
  margin: 0;
  padding: 0;
  background-color: yellow;
  border: solid 1px black;
}
#social ul{
  list-style: none;
  padding: 0;
}
#watch h2{
  font-size: 50px;
  margin: 0px;
  margin-left: 875px;
  color: yellow;
}
#watch video{
  object-fit: contain;
  margin-left: 425px;
}
#watch h3{
  margin-right: auto;
  margin-left: auto;
  width: 200px
}
#watch p{
 margin-right: auto;
  margin-left: auto;
  width: 225px;
}
#watch p a{
  border: solid 1px black;
  color: white;
  padding: 35px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}